<div class="keyboard_panel">
  <div class="span-4">
    <%= render 'pages/numpad' %>
  </div>

  <div class="span-16 last">
    <%= render 'pages/symbols' %>
  </div>
</div>

<div class="math_panel mode_panel" id="default">
  MATH PANEL
</div>
<div class="matrix_panel mode_panel">
  MATRIX PANEL
</div>
<div class="stats_panel mode_panel">
  STATS PANEL
</div>
<div class="vars_panel mode_panel">
  VARS PANEL
</div>
<div class="graph_panel mode_panel">
  GRAPH
</div>
<div class="trig_panel mode_panel">
  TRIG
</div>