<div class="span-10" id="stack">
  stack
</div>

<div class="span-10 last" id="output">
  output
</div>

<div class="span-20">
  <form>
    <input type="text" class="inline" id="input">
    <%= link_to "ENTER", "#", :class => "primary enter button negative" %>
  </form>
</div>

<div class="span-20">
  <%= render 'pages/mode_options' %>
</div>

<div class="span-20 last">
  <%= render 'pages/mode_panels' %>
</div>