<footer class = "span-24 last">
  <nav>
    [ <%= link_to "About",   "#" %> | 
      <%= link_to "Contact", "#" %> |
      &copy 2011 |
      <%= link_to "Terms",   "#" %> |
      <%= link_to "Privacy",   "#" %> ]
  </nav>
<footer>