<header>

  <div class = "span-24 last"><%= link_to logo, root_path %></div>

  <nav>
    <div class = "span-24 last">
      <a href = "#" class = "button _left">Help</a>
      <a href = "#" class = "button _middle">Settings</a>
      <a href = "#" class = "button _right">Export</a>
    </div>
  </nav>
  
</header>