<div class="mode_panel">
  &nbsp;
</div>

<div class="math_panel mode_panel" id="default">
  MATH
</div>
<div class="matrix_panel mode_panel">
  MATRIX
</div>
<div class="stats_panel mode_panel">
  STATS
</div>
<div class="vars_panel mode_panel">
  VARS
</div>
<div class="graph_panel mode_panel">
  GRAPH
</div>
<div class="trig_panel mode_panel">
  TRIG
</div>